$radius: 10px;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;
$height: 240px;

$text-color: #2c3e50;

body {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-family: Helvetica;

  color: $text-color;
  background-color: #3498db;
}

footer {
  font-size: 24pt;
  text-align: center;

  background: linear-gradient( rgba( 230, 230, 230, 1.0 ), white 40% );
  position: absolute;

  padding: {
    top: 2 * $radius;
    bottom: 2 * $radius;
  }

  width: 100%;
  bottom: 0;

  box-shadow: 0 -5px 10px rgba( 0, 0, 0, 0.25 );
}

.resizable {
  resize: both;
  overflow: auto;
}

.passage {
  padding: 2 * $radius;

  border-radius: $radius;

  background-color: #ecf0f1;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  position: absolute;

  width: $width;
  height: $height;

  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.passage-title {
  color: rgba( 200, 67, 57, 1.0 );
  margin-bottom: $radius;
}
