// Modules and variables.
@import "partials/base";

// Partials.
@import "partials/index";
@import "partials/footer";
@import "partials/passage";
@import "partials/wmd";

body {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-family: $sans-serif;

  @include box-sizing(border-box);

  color: $text-color;
  background-color: $background-color;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid $hr-color;
}

code {
  color: green;
  font-size: 10pt;
  font-family: $monospace;
}

button {
  font-weight: bold;
  opacity: 0.4;

  border: 0;
  background: transparent;

  &:hover {
    opacity: 1.0;
  }
}

.resizable {
  resize: both;
  overflow: auto;
}

div:focus,
div[contenteditable=true] {
  outline: none;
}

// Placeholder text.
div:empty:before {
  content: "Click to edit.";

  color: darken($passage-color, 20%);
  font-weight: 100;
  letter-spacing: 1px;
}

.selected {}
