body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: #2c3e50;
  background-color: #3498db; }

footer {
  color: #ecf0f1;
  background-color: #c84339;
  font-size: 24pt;
  text-align: center;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  bottom: 0;
  -webkit-transform: skew(0deg, -20deg) rotate(20deg);
  -ms-transform: skew(0deg, -20deg) rotate(20deg);
  -o-transform: skew(0deg, -20deg) rotate(20deg);
  transform: skew(0deg, -20deg) rotate(20deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.resizable {
  resize: both;
  overflow: auto; }

.passage {
  padding: 20px;
  border-radius: 10px;
  background-color: #ecf0f1;
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 120px; }

.passage-title {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: #c84339;
  background-color: #ecf0f1;
  resize: none;
  border: 0; }

.passage-text {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: #2c3e50;
  background-color: #ecf0f1;
  resize: none;
  border: 0; }

div[contenteditable=true] {
  font-size: 9pt;
  font-family: Monaco;
  border: 1px solid #ccc;
  outline: none; }

div:empty:before {
  content: "Click to edit.";
  color: #aaa; }

code {
  color: green; }
