$radius: 10px;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;

$text-color: #2c3e50;
$passage-color: #ecf0f1;

@mixin user-select($selection) {
  -webkit-user-select: $selection;
     -moz-user-select: $selection;
      -ms-user-select: $selection;
          user-select: $selection;
}

body {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-family: Helvetica;

  color: $text-color;
  background-color: #3498db;
}

footer {
  font-size: 24pt;
  text-align: center;

  background-color: $passage-color;
  position: absolute;

  padding: {
    top: $radius;
    bottom: $radius;
  }

  left: 50%;
  width: 200px;
  margin-left: -100px;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  bottom: 0;

  box-shadow: 0 -5px 10px rgba( 0, 0, 0, 0.25 );
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}

.resizable {
  resize: both;
  overflow: auto;
}

.passage {
  padding: 2 * $radius;

  border-radius: $radius;

  background-color: $passage-color;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  position: absolute;

  width: $width;

  @include user-select(none);
}

.passage-title {
  color: rgba( 200, 67, 57, 1.0 );
  margin-bottom: $radius;

  @include user-select(text);

  &:focus {}
}

.passage-text {
  @include user-select(text);

  &:focus {}
}
