$radius: 10px;
$spacing: 2 * $radius;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;

$text-color: #2c3e50;
$title-color: rgba( 200, 67, 57, 1.0 );
$passage-color: #ecf0f1;
$background-color: #3498db;
$hr-color: rgba( 0, 0, 0, 0.25 );

$controls-width: 20px;
$button-size: 20px;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "adelle", Georgia, serif;
$monospace: Monaco, "Lucida Console", monospace;

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
     -moz-user-select: $selection;
      -ms-user-select: $selection;
          user-select: $selection;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
   -khtml-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin calc($property, $amount) {
  #{$property}: -webkit-calc(100% - #{$amount});
  #{$property}:    -moz-calc(100% - #{$amount});
  #{$property}:         calc(100% - #{$amount});
}

body {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-family: $sans-serif;

  color: $text-color;
  background-color: $background-color;
}

footer {
  color: $passage-color;
  background-color: $title-color;

  font-family: "museo-slab";
  font-weight: 100;
  font-size: 24pt;
  text-align: center;

  position: fixed;

  padding: {
    top: $radius;
    bottom: $radius;
  }

  // left: 50%;
  width: 2 * $width;
  // margin-left: -100px;

  right: 0;
  top: 0;

  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.25 );
  text-shadow: 3px 3px 0 rgba( 0, 0, 0, 0.25 );

  @include transition(0.1s ease-out all);

  &:hover {
    // background-color: darken($title-color, 10%);
    text-shadow: 3px 3px 0 rgba( 0, 0, 0, 0.1 ), 0 0 2px white;
  }
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid $hr-color;
}

code {
  color: green;
  font-size: 10pt;
  font-family: $monospace;
}

button {
  font-weight: bold;
  opacity: 0.4;

  border: 0;
  background: transparent;

  &:hover {
    opacity: 1.0;
  }
}

.index {
  width: 2 * $width;
}

.index-header {
  color: $passage-color;
  background-color: $text-color;

  padding: $radius;
  text-align: center;

  .add {
    font-size: 14pt;
    line-height: 7pt;
    vertical-align: middle;

    color: $passage-color;
    float: right;

    border-radius: 0.25 * $radius;
  }
}

.index-body {
  background-color: $passage-color;
  border-bottom-right-radius: $radius;

  .title {
    overflow: scroll;
    padding: $radius;

    font-family: $serif;
    font-weight: normal;
  }

  .title[contenteditable=true] {
    text-decoration: underline;
  }
}

.resizable {
  resize: both;
  overflow: auto;
}

div:focus,
div[contenteditable=true] {
  outline: none;
}

.passage {
  width: $width;
  padding: $spacing;

  background-color: $passage-color;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  position: absolute;

  div[contenteditable=true] {
    background-color: darken($passage-color, 5%);
    border-radius: $radius;
  }

  .passage-text[contenteditable=true] {
    font-size: 9pt;
    font-family: $monospace;
  }

  .passage-controls {
    border-left: 1px solid #aaa;
    position: absolute;
    right: $spacing;
    top: $radius;
    width: $controls-width;
    margin-top: $radius;
    margin-right: -$radius;
  }
}

.passage-enter-setup,
.passage-leave-setup {
  @include transition(0.2s ease-in-out all);
}

.passage-enter-setup,
.passage-leave-setup.passage-leave-start {
  opacity: 0;
}

.passage-enter-setup.passage-enter-start,
.passage-leave-setup {
  opacity: 1;
}

@mixin text-view($color, $background) {
  padding: $radius;

  font-weight: normal;
  font-size: 12pt;

  color: $color;
  background-color: $background;

  resize: none;
  border: 0;
}

.passage-header {
  display: inline-block;
  @include calc(width, $controls-width + $radius);

  .passage-title {
    @include text-view($title-color, $passage-color);
    font-weight: bold;
  }
}

.passage-text {
  @include text-view($text-color, $passage-color);
}

// Placeholder text.
div:empty:before {
  content: "Click to edit.";

  color: darken($passage-color, 20%);
  font-weight: 100;
  letter-spacing: 1px;
}

.wmd-panel {
  background-color: $passage-color;

  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );
  padding: $spacing;
  position: absolute;
  top: 200px;
  left: 300px;
  width: 375px;

  .wmd-button-bar {
    width: 100%;
    color: $passage-color;

    font-family: Georgia, serif;
    font-weight: 100;
    font-size: 8pt;

    text-align: center;
    vertical-align: middle;
    line-height: 16pt;
  }

  .wmd-button {
    width: $button-size;
    height: $button-size;
    padding: 1px 2px;
    position: absolute;
    display: inline-block;
    list-style: none;

    background-color: $text-color;
    border-radius: 3px;

    @include transition(background-color ease-out 0.1s);

    &:hover {
      color: $text-color;
      background-color: $passage-color;
      border: 1px solid transparentize($text-color, 0.5);
      width: $button-size - 2px;
      height: $button-size - 2px;
    }

    &:active {
      color: $passage-color;
      background-color: $text-color;
    }
  }

  #wmd-bold-button:before {
    content: "B";
    font-weight: bold;
  }

  #wmd-italic-button:before {
    content: "I";
    font-style: italic;
  }

  #wmd-link-button:before {
    content: "url";
    font-family: $monospace;
    font-size: 6pt;
  }

  #wmd-quote-button:before {
    content: "\201c\201d";
  }

  #wmd-code-button:before {
    content: "{}";
    font-family: $monospace;
  }

  #wmd-image-button:before {
    content: "\25a2";
  }

  #wmd-olist-button:before {
    content: "1";
  }

  #wmd-ulist-button:before {
    content: "\00b7";
  }

  #wmd-heading-button:before {
    content: "H";
    font-weight: bold;
  }

  #wmd-hr-button:before {
    content: "—";
  }

  #wmd-undo-button:before {
    content: "\27f2";
    font-size: 10pt;
  }

  #wmd-redo-button:before {
    content: "\27f3";
    font-size: 10pt;
  }

  .wmd-button-row {
    position: relative;
    height: $button-size;

    margin: {
      top: 10px;
      right: 5px;
      bottom: 5px;
    }
    padding: 0;
  }

  .wmd-spacer {
    width: 1px;
    height: $button-size;

    position: absolute;
    display: inline-block;

    list-style: none;
  }

  .wmd-input {
    @include text-view($text-color, $passage-color);
    @include calc(width, $spacing);
    height: 120px;

    &:focus {
      background-color: darken($passage-color, 5%);
      outline: none;
    }
  }

  .wmd-preview {
    font-weight: normal;
  }

  .preview-title {
    font-family: $serif;
    font-weight: bold;
  }
}

.wmd-prompt-background {
  background-color: black;
  opacity: 0.1;
}

.wmd-prompt-dialog {
  background-color: $passage-color;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  font-family: $serif;
  padding: $spacing;
  border-radius: $radius;

  input[type=text] {
    font-family: $monospace;
  }

  input[type=button] {
    font-family: $sans-serif;
    color: white;
    background-color: #1abc9c;

    border: 0;
    border-radius: $radius;

    padding: $radius;

    @include transition(0.2s ease-in-out background-color);

    &:hover {
      background-color: #16a085;
    }
  }
}

.selected {}
