$radius: 10px;
$spacing: 2 * $radius;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;

$text-color: #2c3e50;
$title-color: rgba( 200, 67, 57, 1.0 );
$passage-color: #ecf0f1;
$background-color: #3498db;

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
     -moz-user-select: $selection;
      -ms-user-select: $selection;
          user-select: $selection;
}

body {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-family: Helvetica, sans-serif;

  color: $text-color;
  background-color: $background-color;
}

footer {
  color: $passage-color;
  background-color: $title-color;

  font-size: 24pt;
  text-align: center;

  // background-color: $passage-color;
  position: absolute;

  padding: {
    top: $radius;
    bottom: $radius;
  }

  left: 50%;
  width: 200px;
  margin-left: -100px;

  // border-top-left-radius: $radius;
  // border-top-right-radius: $radius;

  bottom: 0;

  @include transform(skew(0deg, -20deg) rotate(20deg));

  box-shadow: 0 -2px 5px rgba( 0, 0, 0, 0.25 );
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.5 );
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}

.resizable {
  resize: both;
  overflow: auto;
}

.passage {
  padding: $spacing;

  border-radius: $radius;

  background-color: $passage-color;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  position: absolute;

  width: $width;

  @include user-select(none);
}


@mixin text-view($color, $background) {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;

  color: $color;
  background-color: $background;

  resize: none;
  border: 0;
}

.passage-title-view {
  @include user-select(text);
  @include text-view($title-color, $passage-color);
}

.passage-text-view {
  @include user-select(text);
  @include text-view($text-color, $passage-color);
}

.passage-title-edit {

}

.selected {}
