$radius: 10px;
$spacing: 2 * $radius;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;

$text-color: #2c3e50;
$title-color: rgba( 200, 67, 57, 1.0 );
$passage-color: #ecf0f1;
$background-color: #3498db;
$hr-color: rgba( 0, 0, 0, 0.25 );

$controls-width: 20px;

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
     -moz-user-select: $selection;
      -ms-user-select: $selection;
          user-select: $selection;
}

@mixin calc($property, $amount) {
  #{$property}: -webkit-calc(100% - #{$amount});
  #{$property}:    -moz-calc(100% - #{$amount});
  #{$property}:         calc(100% - #{$amount});
}

body {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-family: Helvetica, sans-serif;

  color: $text-color;
  background-color: $background-color;
}

footer {
  color: $passage-color;
  background-color: $title-color;

  font-size: 24pt;
  text-align: center;

  position: fixed;

  padding: {
    top: $radius;
    bottom: $radius;
  }

  left: 50%;
  width: 200px;
  margin-left: -100px;

  bottom: 0;

  // @include transform(skew(0deg, -20deg) rotate(20deg));

  box-shadow: 0 -2px 5px rgba( 0, 0, 0, 0.25 );
  text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.5 );
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid $hr-color;
}

button {
  font-weight: bold;
  opacity: 0.4;

  border: 0;
  background: transparent;

  &:hover {
    opacity: 1.0;
  }
}

.index {
  width: 2 * $width;
}

.index-header {
  color: $passage-color;
  background-color: $text-color;

  padding: $radius;
  text-align: center;

  .add {
    color: $passage-color;
    // bottom: 2 * $spacing;
    float: right;
    margin-top: -2px;

    border: 1px solid $passage-color;
    border-radius: 0.25 * $radius;
  }
}

.index-body {
  background-color: $passage-color;
  padding: $spacing;

  border-bottom-right-radius: $radius;

  .title {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }

  .ng-scope + .ng-scope {
    border-top: 1px solid $hr-color;
  }

  .title[contenteditable=true] {
    outline: 1px solid $hr-color;
  }
}


.resizable {
  resize: both;
  overflow: auto;
}

.passage {
  width: $width;
  padding: $spacing;

  border-radius: $radius;

  background-color: $passage-color;
  box-shadow: 0 $shadow $shadow-blur rgba( 0, 0, 0, 0.25 );

  position: absolute;

  div[contenteditable=true] {
    background-color: darken($passage-color, 5%);
    border-radius: $radius;
    outline: none;
  }

  .passage-text[contenteditable=true] {
    font-size: 9pt;
    font-family: Monaco;
  }

  .passage-controls {
    border-left: 1px solid #aaa;
    position: absolute;
    right: $spacing;
    top: $radius;
    width: $controls-width;
    margin-top: $radius;
    margin-right: -$radius;
  }
}

@mixin text-view($color, $background) {
  padding: $radius;

  font-weight: normal;
  font-size: 12pt;

  color: $color;
  background-color: $background;

  resize: none;
  border: 0;
}

.passage-header {
  display: inline-block;
  @include calc(width, $controls-width + $radius);

  .passage-title {
    @include text-view($title-color, $passage-color);
    font-weight: bold;
  }
}

.passage-text {
  @include text-view($text-color, $passage-color);
}

// Placeholder text.
div:empty:before {
  content: "Click to edit.";
  color: #aaa;
}

code {
  color: green;
}

.selected {}
