body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Helvetica;
  background-color: #3498db; }

footer {
  font-size: 24pt;
  text-align: center;
  color: gray;
  background: linear-gradient(#e6e6e6, white 40%);
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25); }

.container {
  height: 90%; }

.resizable {
  resize: both;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  color: #2c3e50;
  background-color: #ecf0f1;
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 120px;
  height: 240px; }
