<!DOCTYPE html>
<html lang="en" ng-app="spindle">
  <head>
    <title>Spindle</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="container" ng-controller="SpindleCtrl">
      <div class="titles">
        <div>Titles</div>
        <div ng-repeat="passage in passages">
          <div editable ng-model="passage.title" contenteditable=false></div>
        </div>
      </div>

      <div ng-repeat="passage in passages">
        <div resizable draggable class="resizable passage" x={{passage.x}} y={{passage.y}} width={{passage.width}}>
          <div editable class="passage-title" ng-model="passage.title" contenteditable=false></div>
          <hr>
          <div editable class="passage-text" ng-model="passage.text" contenteditable=false></div>
        </div>
      </div>

      <button ng-click="addPassage()"></button>
    </div>

    <footer>
      <div class="footer-hero">Spindle</div>
    </footer>

    <script src="app/lib/angular/angular.min.js"></script>
    <script src="app/lib/pagedown/Markdown.Converter.js"></script>
    <script src="app/lib/pagedown/Markdown.Editor.js"></script>
    <script src="app/lib/pagedown/Markdown.Sanitizer.js"></script>
    <script src="app/lib/phpjs/nl2br.js"></script>
    <script src="app/main.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
  </body>
</html>
