<!DOCTYPE html>
<html lang="en" ng-app="spindle">
  <head>
    <title>Spindle</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="container" controller="SpindleCtrl">
      <div draggable class="resizable passage" x=400 y=200>
        <div editable class="passage-title" ng-model="passage.title">hello this is a test</div>
        <div editable class="passage-text" ng-model="passage.text">maximum horoscopes decide contemporary conundrums</div>
      </div>
      <div draggable class="resizable passage" x=200 y=150>
        <div editable class="passage-title" ng-model="passage.title">hello this is a second test</div>
        <div editable class="passage-text" ng-model="passage.text">How will this work?</div>
      </div>
      <div draggable class="resizable passage" x=30 y=50>
        <div editable class="passage-title" ng-model="passage.title">and here is a third test</div>
        <div editable class="passage-text" ng-model="passage.text">oh come on, we can think of better text than this.</div>
      </div>
    </div>

    <footer>Spindle</footer>

    <script src="app/lib/angular/angular.min.js"></script>
    <script src="app/main.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
  </body>
</html>
