$radius: 10px;
$spacing: 2 * $radius;
$shadow: 0.25 * $radius;
$shadow-blur: $radius;

$width: 120px;

$text-color: #2c3e50;
$title-color: rgba( 200, 67, 57, 1.0 );
$passage-color: #ecf0f1;
$background-color: #3498db;
$hr-color: rgba( 0, 0, 0, 0.25 );

$controls-width: 20px;
$button-size: 20px;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: "adelle", Georgia, serif !default;
$monospace: Monaco, "Lucida Console", monospace !default;

@import "../modules/all";
