footer {
  color: $passage-color;
  background-color: $title-color;

  font-family: $logo-font;
  font-weight: 100;
  font-size: 24pt;
  text-align: center;

  position: fixed;

  padding: {
    top: $radius;
    bottom: $radius;
  }

  width: 2 * $width;

  right: 0;
  top: 0;

  box-shadow: 0 2px 5px $shadow-color;
  text-shadow: $shadow $shadow 0 $shadow-color;

  @include transition(0.1s ease-out all);

  &:hover {
    text-shadow: $shadow $shadow 0 $shadow-color, 0 0 2px white;
  }
}
