.index {
  width: 2 * $width;
}

.index-header {
  color: $passage-color;
  background-color: $text-color;

  padding: $radius;
  text-align: center;

  .add {
    font-size: 14pt;
    line-height: 7pt;
    vertical-align: middle;

    color: $passage-color;
    float: right;
  }
}

.index-body {
  background-color: $passage-color;
  box-shadow: $shadow $shadow $shadow-blur $shadow-color;

  .title {
    overflow: scroll;
    padding: $radius;

    font-family: $serif;
    font-weight: normal;
  }

  .title[contenteditable=true] {
    text-decoration: underline;
  }
}
